{% extends '::base-admin.html.twig' %}

{% block main %}
    <h1>OrganigrammeUnite creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('ad_organigrammeunite') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
