{% extends '::base.html.twig' %}

{% block main %}
    <h1>Demande d'absence</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('sa_demande_absences') }}">
            Retour à mes congés
        </a>
    </li>
</ul>
{% endblock %}