<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM (MALADIE PRO)-->
                <div class="modal fade in" id="maladie-professionnelle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog" style="width: 60%;">
                                <div class="modal-content">
                                        {#<div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                                <h4 class="modal-title">Modal title</h4>
                                        </div>#}
                                        <div class="portlet light">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="icon-pie-chart font-green-haze"></i>
                                                <span class="caption-subject bold uppercase font-green-haze"> Taux de maladie professionnelles ( nombre de cas : {{MaladieProfessionnelle}} )</span>
                                            </div>
                                            <button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true" style="margin-top: 15px;"></button>
                                        </div>
                                        <div class="portlet-body">
                                            <div id="chart_7" class="chart" style="height: 525px;">
                                            </div>
                                        </div>
                                    </div>
                                        <div class="modal-footer">
                                        </div>
                                </div>
                                <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM (ACCIDENT DE TRAVAIL)-->
                <div class="modal fade" id="accident-travail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog" style="width: 60%;">
                                <div class="modal-content">
                                        {#<div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                                <h4 class="modal-title">Modal title</h4>
                                        </div>#}
                                        <div class="portlet light">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="icon-pie-chart font-green-haze"></i>
                                                <span class="caption-subject bold uppercase font-green-haze"> Taux accident de travail ( nombre de cas : {{AccidentDeTravail}} )</span>
                                            </div>
                                            <button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true" style="margin-top: 15px;"></button>
                                        </div>
                                        <div class="portlet-body">
                                            <div id="chart_8" class="chart" style="height: 525px;">
                                            </div>
                                        </div>
                                    </div>
                                        <div class="modal-footer">
                                        </div>
                                </div>
                                <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM (MALADIE ORDINAIRES)-->
                <div class="modal fade" id="maladie-ordinaires" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog" style="width: 60%;">
                                <div class="modal-content">
                                        {#<div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                                <h4 class="modal-title">Modal title</h4>
                                        </div>#}
                                        <div class="portlet light">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="icon-pie-chart font-green-haze"></i>
                                                <span class="caption-subject bold uppercase font-green-haze"> Taux maladies ordinaires ( nombre de cas : {{Maladie}})</span>
                                            </div>
                                            <button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true" style="margin-top: 15px;"></button>
                                        </div>
                                        <div class="portlet-body">
                                            <div id="chart_9" class="chart" style="height: 525px;">
                                            </div>
                                        </div>
                                    </div>
                                        <div class="modal-footer">
                                        </div>
                                </div>
                                <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM (CONGES MATERNITES)-->
                <div class="modal fade" id="conges-maternites" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog" style="width: 60%;">
                                <div class="modal-content">
                                        {#<div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                                <h4 class="modal-title">Modal title</h4>
                                        </div>#}
                                        <div class="portlet light">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="icon-pie-chart font-green-haze"></i>
                                                <span class="caption-subject bold uppercase font-green-haze"> Taux congés maternité ( nombre de cas : {{CongeMaternite}} )</span>
                                            </div>
                                            <button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true" style="margin-top: 15px;"></button>
                                        </div>
                                        <div class="portlet-body">
                                            <div id="chart_10" class="chart" style="height: 525px;">
                                            </div>
                                        </div>
                                    </div>
                                        <div class="modal-footer">
                                        </div>
                                </div>
                                <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->