<!-- BEGIN PRE-FOOTER -->
<div class="page-prefooter" style="padding-bottom: 0px;padding-top: 0px;">
<div class="container">
       <div class="row">
       </div>
</div>
</div>
<div class="page-footer">
    <div class="container">
            <center> 2015 &copy; IMA. Tous droits réservés - Poles Compétences SARL.</center>
    </div>
</div>
<div class="scroll-to-top">
    <i class="icon-arrow-up"></i>
</div>
<!-- END PRE-FOOTER -->